<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.TP_MOB"
    tools:targetApi="31">

    <!-- Activity principal da app, que é a launcher (entrada da aplicação) -->
    <activity
        android:name=".ui.MainActivity"
        android:exported="true">  <!-- Exportada para o sistema poder lançar -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />  <!-- Ação MAIN (inicial) -->
            <category android:name="android.intent.category.LAUNCHER" /> <!-- Categoria launcher -->
        </intent-filter>
    </activity>

    <!-- Activity para mostrar detalhes e edição dos cursos -->
    <activity
        android:name=".ui.CursoDetailActivity"
        android:exported="false"
    android:windowSoftInputMode="adjustPan"/>  <!-- Ajusta a janela para não sobrepor o teclado -->

    <!-- Activity que mostra informações sobre a app e o autor -->
    <activity
        android:name=".ui.SobreActivity"
        android:exported="false"
    android:label="@string/title_activity_sobre"/>  <!-- Título da activity no action bar -->

</application>

    </manifest>
